
<h1><%=@place["name"]%></h1>

<p>
<%for post in @posts%>
  <h2> <%= post["title"]%> </h2>
  <p><%= post["posted_on"] %> </p>
  <h4><%= post["description"] %> </h4>
  
<%end%>
</p>

<p>
  <a href ="/posts/new?place_id=<%= @place["id"]%>">Create a post</a>
</p>

<p>
  <a href ="/places">Back to all places</a>
</p>
